body {
  background-color: #fff;
}

h1 {
  color: #000;
}

.hex {
  display: none;
}

#Intro {
  margin: 10px;
  padding: 20px;
  border-style: ridge;
  border-width: thin;
  background-color: #fff;
  text-align: center;
}

#PageColors {
  margin: 10px;
  padding: 20px;
  border-style: ridge;
  border-width: thin;
  background-color: #fff;
}

.main {
  padding: 10px;
  margin: auto;
}
